$mobile-width-break: 768px;
$movie-list-item-width: 30%;
$movie-list-item-width-mobile: 47.5%;
$default-poster-height: 200px;

.results__no-results {
  text-align: center;
}

.movies-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  list-style: none;

  &::after {
    content: '';
    width: $movie-list-item-width;

    @media all and (max-width: $mobile-width-break) {
      width: $movie-list-item-width-mobile;
    }
  }
}

.movies-list__item {
  width: $movie-list-item-width;
  margin: 0;

  @media all and (max-width: $mobile-width-break) {
    width: $movie-list-item-width-mobile;
  }
}

.movie-list__image-container {
  min-height: $default-poster-height;
  border: 1px solid #eee;
}

.movies-list__image {
  display: block;
  width: 100%;
}

.movies-list__no-poster {
  line-height: $default-poster-height;
  text-align: center;

  background-image: linear-gradient(135deg, #fff 25%, #f9f9f9 25%, #f9f9f9 50%, #fff 50%, #fff 75%, #f9f9f9 75%, #f9f9f9 100%);
  background-size: 28.28px 28.28px;
}

.movies-list__title {
  margin-top: 0.25em;
}
